body {
  background: #000;
}
#include {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

/*rodapé*/
footer {  /*rodapé principal a estrutura que guarda as outras partes do rodapé e seu posicionamento*/
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffd700; /* Cor do rodapé */
  color: #000; /* Cor do texto */
  padding: 65px 0;
  text-align: center;
  z-index: 100;

}  

/*o que está dentro do rodapé*/
.footer-left {  
  position: absolute;
  top: 0%;
  right: 30%;
  left: 30%;
  padding: 20px ;   
  text-align: center;
  
}  
  
/*os ícones do rodapé*/
.footer-right {  
  position: absolute;
  top: -20%;
  right: 30%;
  left: 30%;

  padding: 30px;  
  text-align: center;

  transition: background 0.2s;
  border-radius: 50%;
}  

.footer-right a:hover {
  background: rgb(0, 0, 0); /*a animação de passar o mouse e aparacer a bolinhas escura, por cima dos icones das redes*/
  padding: 5px;
  border-radius: 50%;
}
  
footer a:hover {  /*a cor relacionada a animação dentro dos links do rodapé*/
  color: #800080;
  text-align: center;
}  

.wolf_title {
  
 
  
  
  text-align: center;
  
  color: #ffd700;
}


.wolf__image {
  position: absolute;
  top: 0%; /* Ajuste para posicionar onde você deseja */
  left: 50%; /* Centraliza horizontalmente */
  transform: translate(-50%, 0); /* Ajuste para centralizar */
  width: 150px; /* Defina um tamanho menor para a lua */
  height: auto; /* Mantém a proporção */
  z-index: 1; /* Coloca a lua acima de outros elementos */
}
  
@media (max-width: 768px) {  
  .footer-container {  
   flex-direction: column;  
  }  
  .footer-left, .footer-right {  
   width: 100%;  
   padding: 20px 0;  
  }  
}  
  
@media (max-width: 480px) {  
  footer {  
   padding: 10px 0;  
  }  
  .footer-bottom {  
   padding: 5px 0;  
  }  
  footer i {  
   font-size: 18px;  
  }  
}