* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jolly Lodger", system-ui;
}

body {
  height: 100vh;
  background: center / cover no-repeat
    url(/assets/handmade-pumpkins-halloween-style-illuminated-inside-lying-side-darkness.jpg);
}

.header {
  background: #ffd700;
  padding-inline: 16px;
}

.title {
  font-size: 50px;
}


