body {
  /*background-image: url(/assets/handmade-pumpkins-halloween-style-illuminated-inside-lying-side-darkness.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */

  /*background: color image repeaat position/size */
  background: url(/assets/handmade-pumpkins-halloween-style-illuminated-inside-lying-side-darkness.jpg)
    no-repeat top center/cover;
}

#container {
  width: 360px;
  height: 712px;
  border: 1px solid gold;
  margin: auto;
  
}
