/* Reset e Configuração Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Jolly Lodger", system-ui;
  color: #ffd700;
  background-color: #fffb00;
  font-size: 20px;
}

/* Configuração do Background */
#profile {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("../assets/fundo2.0.png") no-repeat center center fixed;
  background-size: cover; /* Garante que o fundo preencha toda a tela */
}

/* Estilos do Container */
.profile__me {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}

.profile__titles, .profile__subtitle {
  font-size: 30px;
  text-align: center;
  font-family: "Jolly Lodger", system-ui;
}

.profile__image {
  gap: 12px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile__texto {
  font-size: 20px;
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 0%;
  text-align: center;
  padding: 15px 24px;
  border: 1px solid rgb(255, 251, 0);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/* Estilo do Botão */
.buttonMoon {
  position: absolute;
  top: 10px;
  right: 10%;
  width: 100px;
  cursor: pointer;
}

.imageButton img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  transition: transform 0.2s;
}

.textMoon h2 {
  position: absolute;
  left: 75%;
  bottom: 85%;
  font-family: "Jolly Lodger", system-ui;
}

/* Responsividade */
@media (max-width: 900px) {
  .profile__titles,
  .profile__subtitle {
    font-size: 24px;
  }

  .profile__image {
    top: 30%;
    font-size: 20px;
  }

  .profile__texto {
    font-size: 16px;
    left: 10%;
    right: 10%;
  }

  .buttonMoon {
    width: 80px;
    top: 15px;
    right: 15px;
  }

  .textMoon h2 {
    font-size: 18px;
    left: 70%;
    bottom: 90%;
  }
}

@media (max-width: 480px) {
  .profile__titles,
  .profile__subtitle {
    font-size: 20px;
  }

  .profile__image {
    font-size: 16px;
  }

  .profile__texto {
    font-size: 14px;
    padding: 10px;
    left: 5%;
    right: 5%;
  }

  .buttonMoon {
    width: 60px;
    top: 10px;
    right: 10px;
  }

  .textMoon h2 {
    font-size: 16px;
    left: 45%;
    bottom: 92%;
  }
}