* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  color: #ffd700;
  background-color: #000;
}

#profile {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("../assets/fundo2.0.png") 50% 50% / cover no-repeat;
}

.profile__me {
  position: absolute; /* Absolute pra ficar em qualquer lugar da tela */
  left: 50%; /* Meio da tela */
  bottom: 0; /* Fica lá em baixo */
  gap: 12px; /* Espaçamento entres as divs */
  display: flex; /* Centraliza todos os itens ao meio */
  align-items: center; /* Centraliza todos os itens ao meio */
  justify-content: center; /* Centraliza todos os itens ao meio */
  flex-direction: column; /* Deixa em coluna os itens */
  transform: translate(-50%, -50%); /* Centraliza na tela */
}

.profile__titles {
  font-size: 30px; /* Tamanho da fonte */
  text-align: center; /* Alinha o texto ao meio */
  font-family: "Jolly Lodger", system-ui; /* Nome da fonte */
  
}

.profile__subtitle {
  font-size: 30px; /* Tamanho da fonte */
  text-align: center; /* Alinha o texto ao meio */
  font-family: "Jolly Lodger", system-ui; /* Nome da fonte */
}

.profile__image {
  gap: 12px; /* Espaçamento entres as divs */
  font-size: 25px; /* Tamanho da fonte */
  display: flex; /* Centraliza todos os itens ao meio */
  align-items: center; /* Centraliza todos os itens ao meio */
  justify-content: center; /* Centraliza todos os itens ao meio */
  flex-direction: column; /* Deixa em coluna os itens */
}

.profile__texto {
  font-size: 20px; /* tamanho da fonte */
  position: absolute; /*posição dos elementos do texto */
  top: 67%; 
  left: 30%;
  right: 30%;
  text-align: center;
  text-justify: inter-word;
  

  padding: 15px 24px;

  
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.buttonMoon {
  position: fixed; /* Fixa o botão na posição especificada */
  top: 10px; /* Distância do topo da página */
  right: 10%; /* Distância da borda direita da página */
  width: 100px; /* Largura do botão */
  height: auto; /* Altura automática */
  
  cursor: pointer;
}

.imageButton img {
  width: 100%; /* A imagem ocupará toda a largura do botão */
  height: auto;
  border-radius: 6px;
  transition: transform 0.2s;
}

.textMoon h2 {
  position: absolute;
  right: 0%;
  left: 75%;
  bottom: 85%;
  font-family: "Jolly Lodger", system-ui;

}

