body {
  background: #000;
}
#container{
  background: #ffd700;
}
#social_links {
  display: flex;
  justify-content: center;
  gap: 32px;

  padding: 24px 0;

  font-size: 24px;
}

#social_links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

#social_links a:hover {
  background: rgb(0, 0, 0);
  padding: 16px;
  border-radius: 50%;
}

myButton {
  position: fixed; /* Define o botão com uma posição fixa na tela, ou seja, ele permanece no mesmo lugar quando a página é rolada */
  top: 25px; /* Define a posição do botão 25 pixels abaixo do topo da tela */
  left: 25px; /* Define a posição do botão 25 pixels a partir da borda esquerda da tela */

  box-shadow: inset 0px 1px 0px 0px #fce2c1; /* Adiciona uma sombra interna para dar profundidade ao botão */
  background: linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%); /* Aplica um gradiente de cor de cima para baixo, de #ffc477 para #fb9e25 */
  background-color: #ffc477; /* Define uma cor de fundo alternativa para navegadores que não suportam gradientes */
  border-radius: 6px; /* Arredonda os cantos do botão */
  border: 1px solid #eeb44f; /* Define uma borda ao redor do botão com a cor #eeb44f */
  display: inline-block; /* Exibe o botão como um elemento inline, mas permite definição de altura e largura */
  cursor: pointer; /* Define o cursor como "pointer" quando o usuário passa o mouse sobre o botão */
  color: #ffffff; /* Define a cor do texto do botão como branco */
  font-size: 15px; /* Define o tamanho da fonte do texto dentro do botão */
  font-weight: bold; /* Deixa o texto do botão em negrito */
  padding: 6px 24px; /* Adiciona um espaçamento interno de 6 pixels no topo e na base e 24 pixels nas laterais */
  text-decoration: none; /* Remove qualquer sublinhado ou decoração do texto */
  text-shadow: 0px 1px 0px #cc9f52; /* Adiciona uma sombra leve ao texto, dando um efeito de relevo */
}

.myButton:hover {
  background: linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%); /* Altera o gradiente de cor ao passar o mouse sobre o botão (efeito de hover) */
  background-color: #fb9e25; /* Altera a cor de fundo quando o mouse está sobre o botão, como alternativa para navegadores sem suporte a gradientes */
}